<!DOCTYPE html>
<html>
<head>
  <title>Rizz Live Chat</title>
  <script defer src="/socket.io/socket.io.js"></script>
  <script defer src="client.js"></script>
  <link rel="stylesheet" href="styles.css">

</head>
<body>
  <section>
    <header>
        <h1>RIZZ</h1>
    </header>

    <div id="chat">
        <ul id="messages">
        </ul>
        <form id="messageForm">
            <input id="messageInput" autocomplete="off" />
            <button>Send</button>
        </form>
    </div>
  </section>

  <script>
    const username = '<%= username %>'; // Set username dynamically
  </script>
  </body>
</html>