<!DOCTYPE html>
<html>
<head>
  <title>Rizz Live Chat</title>
  <script src="/socket.io/socket.io.js"></script>
  <script defer src="client.js"></script>
  <link rel="stylesheet" href="styles.css">

</head>
<body>
  <h1>Rizz Live Chat</h1>
  <div id="chat">
    <ul id="messages"></ul>
    <form id="messageForm">
      <input id="messageInput" autocomplete="off" />
      <button>Send</button>
    </form>
  </div>

</body>
</html>