* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    --buttoncolor: #007BFF;
    --buttoncolorhover: #005dc0;
    --secondarytextcolor: rgba(0, 0, 0, 0.65); 
}

header {
    width: 100%;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

header h1 {
    font-size: 3em;
}

header p {
    font-style: italic;
    color: var(--secondarytextcolor);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    gap: 1em;
}

input {
    width: 20%;
    height: 2em; 
    padding: 0.5em; 
}

#Submit {
    height: 50px;
    padding: 10px 20px;
    background-color: var(--buttoncolor);
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s;
}

#Submit:hover {
    background-color: var(--buttoncolorhover);
}

section {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    background-color: var(--buttoncolor);
    color: white;
}

section ul {
    margin-left: 5em;
}

#noAccount a {
    padding: 10px 20px;
    background-color: white;
    color: var(--buttoncolor);
    text-decoration: none; 
    border-radius: 5px;
    display: inline-block; 
    transition: background-color 0.3s ease;
    font-size: 1em;
    font-weight: bold; 
}

#noAccount a:hover {
    color: var(--buttoncolorhover); 
}
