* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

header {
    background-color: ghostwhite;
    height: 100vh;
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

header h1 {
    margin-top: 0.5em;
    font-size: 4em;
}

#chat {
    width: 90vw; 
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-right: 2em;
    margin-left: 2em;
}

#messages {
    flex-grow: 1;
    overflow-y: auto; 
    font-size: 2em; 
    max-width: 100%; /* Set max-width for the message area */
}

#messages li {
    max-width: 800px; /* Ensure list items also have a max-width */
    word-wrap: break-word; /* Allow words to break and wrap */
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.other-message {
    text-align: right;
    color: rgba(0, 0, 0, 0.836);   
}

.my-message {
    text-align: left;
    color: rgba(0, 0, 0, 0.836);  
}

#messages strong {
    font-weight: bolder;
    color: black;
}

#messageForm {
    display: flex; 
}

#errorMessage {
    position: fixed;
    bottom: 100px;
}

#messageInput {
    flex-grow: 1; 
    height: 50px;
    font-size: 1.5em; 
    margin-right: 10px; 
}

button {
    height: 50px; 
    width: 100px;
    font-size: 1.5em; 
}
